<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>audio-cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-ae362vOLHy2F1EfJtpMbNW0i9pNM1TP2l5O4VGYYiLJKsaejqVWibbP6BSf0UU5i" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
    <script type="text/javascript"  src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.io-stream.js"></script>
    <script src="/js/MediaStreamRecorder.js"></script>
    <script src="/js/peer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/is_js/0.9.0/is.js"></script>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqlWmw0QtqrE0b5Xjh9Il0WwXXgrDDbQ1e4sXh5ZQGAWNfF81g">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background:navy">
            <div class="col-md-16 mt-4 mx-auto" >
                <h1 style="color: black">Audio Client</h1>
            </div>
        </div>
        <div class="row align-items-center">
                <div class="col-md-5 mx-auto" >
                    <label class="label" for="duracion">duracion maxima en segundos</label>
                    <br>
                    <div class="col-md-10 mx-auto">
                        <input id="duracion"  type="number" min="1" value="60" max="300"> <br> 
                    </div>
                    <br> 
                    <button class="btn btn-info" id="empezar">iniciar</button> 
                    <button class="btn btn-danger" id="parar" disabled>parar</button>
                    <button class="btn btn-success" id="guardar" disabled>guardar</button>
                </div>
                <div class="col-md-4 mx-auto" >
                    <audio class="audio" controls></audio>
                </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <p>streamming de audio</p>
                <button class="btn btn-info" id="start-stream"> iniciar streaming</button>
                <button class="btn btn-danger" id="stop-stream" disabled>parar streaming</button>
            </div>
            <div class="col-md-1 mx-auto">
                    <span id="conectado">Conectado</span>
            </div>
            <div class="col-md-4 mx-auto">
                <audio id="streaming" controls></audio>
            </div>
        </div>
        <div class="fixed-bottom">
            <div class="col-md-4">
                <textarea class="servidor" row="1" cols="30" readonly></textarea>
            </div>
        </div>
    </div>
    <script src="/js/cli-main.js"></script>
    <script src="/js/mix.js"></script>
</body>
</html>